@import 'tailwindcss';

@theme {
  --color-background: #000;

  --font-gali: 'gali', sans-serif;
  --font-greta: 'greta', sans-serif;
}

@font-face {
  font-family: 'gali';
  src: url('/fonts/gali/gali-regular.otf  ') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'gali';
  src: url('/fonts/gali/gali-light.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'gali';
  src: url('/fonts/gali/gali-bold.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'greta';
  src: url('/fonts/greta/greta-light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'greta';
  src: url('/fonts/greta/greta-regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'greta';
  src: url('/fonts/greta/greta-medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'greta';
  src: url('/fonts/greta/greta-bold.ttf') format('truetype');
  font-weight: 700;
}

